@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.testimonials {
  background: url(assets/images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: left 30px top 5px;
  background-color: #181e2a;
}

.form {
  position: relative;
  bottom: -110px;
}


