@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.testimonials {
  background: url(assets/images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: left 30px top 5px;
  background-color: #181e2a;
}

@media screen and (min-width: 768px) {
  .testimonials {
    background-position: left 100px top 10px;
  }
}

.form {
  position: relative;
  bottom: -110px;
}

.info {
  background: url(assets/images/icon-location.svg) no-repeat;
  background-position: left center 10px;
  padding-left: 25px
}

.email {
  background: url(assets/images/icon-email.svg) no-repeat;
  background-position: left center 10px;
  padding-left: 25px
}

.contact {
  background: url(assets/images/icon-phone.svg) no-repeat;
  background-position: left center 10px;
  padding-left: 25px
}